#File{
  margin-top:50px;
}

.audio{
  width : 80%;
  /*margin: 20 auto;*/
  /*margin-left: auto; margin-right: auto;*/
}

#slider{
  width : 80%;
  /*padding-top: 20px;
  padding-bottom: 20px;*/
  /*margin-bottom: 10px auto;*/
}

#facebook-link-btn{
  cursor:pointer;
}

/*#slider .noUi-base {
  background: red;
}*/

/*참고 : http://localhost/noUiSlider/index.html */
/*배경색 바꾸기*/
#slider .noUi-base {
    /*background-image: linear-gradient(to right, #a2ea4c 20%, #0000 20%, #0000 80%);
    background-image: linear-gradient(to right, #a2ea4c 20%, #07aa91 20%, #07aa91 80%, #a2ea4c 80%);*/
    /*background-color: black;*/
}

#slider .noUi-horizontal .noUi-handle-upper .noUi-tooltip {
  top: -32px;
  bottom: initial;
}
